<div class="col-md-12 otp_page" align="center"><br>
	<div class="card card-container">
		<img id="profile-img" src="/assets/images/lock.png" class="profile-img-card" />
		<form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
			<div class="form-group">
				<label for="code">ป้อนรหัส OTP 6 หลักจากแอปยืนยันตัวตนของคุณ</label> <input type="text" class="form-control" name="code" [(ngModel)]="form.code" required minlength="6" #code="ngModel" />
				<div class="alert alert-danger" role="alert" *ngIf="f.submitted && code.invalid">
					<div *ngIf="code.errors.required">จำเป็นต้องใช้รหัส OTP</div>
					<div *ngIf="code.errors.minlength">รหัส OTP ต้องมีอักขระอย่างน้อย 6 ตัว</div>
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-primary btn-block bg-purple-700 hover:bg-purple-800">ส่งรหัส</button>
			</div>
			<div class="form-group">
				<div class="alert alert-danger" role="alert" *ngIf="isLoginFailed">Login failed: {{ errorMessage }}</div>
			</div>
		</form>
		<div class="alert alert-success" *ngIf="isLoggedIn">ยินดีต้อนรับ {{currentUser.displayName}} <br>Logged in as {{ currentUser.roles }}.</div>
	</div>
</div>
