


:host {
  display: flex;
  justify-content: center;
  margin: 0px 0px;
}

.re_margin{
  display: flex;
  justify-content: flex-end;
}

.img_margin{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.ctp{
  margin-top: 40px;
}

mat-card {
  max-width: 600px;

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 0px ;

    form {
      .mat-form-field {
        width: 100%;
        min-width: 250px;
      }

      .error {
        padding: 16px;
        width: 300px;
        color: white;
        background-color: red;
      }

      .button {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.social-login .btn-img {
	width: 30px;
	height: auto;
	padding: 0.6rem 0;
	margin-right: 15px;
}
