
:host {
    display: flex;
    justify-content: center;
    margin: 0px 0px;
  }
  
  .re_margin{
    display: flex;
    justify-content: flex-end;
  }
  
  .regis_page{
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
     background: linear-gradient( #67a0d5 , #ffffff) no-repeat 0 0 / cover; 
  }

  .img_margin{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  // .ctp{
  //   margin-top: 10px;
  // }
  
  mat-card-title{
    display: flex;
    justify-content: center;
  }

  mat-card {
    max-width: 600px;
    mat-card-content {
      
      justify-content: center;
      //margin: 0px 0px 0px 0px ;
  
      form {
        .mat-form-field {
         width: 100%;
          min-width: 250px;
        }
  
        .error {
          padding: 16px;
          width: 300px;
          color: white;
          background-color: red;
        }
  
        .button {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
  